body {
background: #444;
background-color: #444;  
}

img { 
border:0px solid #eaeaea;
padding: 0p;
}

table {
width:100%;
max-width:  100%;
overflow: hidden;
table-layout: fixed;
}

td {
width: 30%;
max-width: 300px;
}

.box {
display: inline-block; 
width: 300px;
padding: 10px;
position: relative;
text-align: left;
padding: 10px 10px 10px 10px;
cursor: pointer;
}
.boxpad {
height:  0px;
padding: 0px 10px 0px 10px;
}

.crop {
width: 100%;
max-width: 300px;
height: 160px; 
overflow: hidden;
}

.coverimg {
height: 200px;
width: auto;
margin: -20px 0 0 0px;
}

.coverimg-auto {
height: 30em;
margin: -15em 0 0 0px;
}

.hidden {
display: none;
}

a:link {color:#CCCCCC; text-decoration:none; }      /* unvisited link */
a:visited {color:#CCCCCC; text-decoration:none; }  /* visited link */
a:hover {color:#EEEEEE; text-decoration:underline; }  /* mouse over link */
a:active {color:#eaeaea; text-decoration:underline; }  /* selected link */

p,div {
font-size: 0.99em;
font-family: "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
color: #eaeaea;
}

div {
border-width: 1px;
border-color: #000000;
}

.reel {
position:absolute;
top: 0px;
left: 10%;
width: 80%;
height: 100%;
}

.reelmobile {
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}


#header {
position: relative;
padding-top: 10px;
padding-bottom: 20px;
padding-left: 0px;
left: 0%;
width: 100%;
}

#leftheader {
position: relative;
left: 0px;
}

#rightheader {
position: relative;
top: 0px;
margin-top: 10px;
right: 0px;
}

#toplevel {
display: none;
position: relative;
top:  8%;
text-align: center;
}

#menu {
position: relative;
top: 0px;
-webkit-transition: visibility 0.4s ease-in-out;
transition: visibility  0.4s ease-in-out;
text-align: center;
}

#spinner {
position: fixed;
top: 50%;
left: 50%;
border:  3px solid #f3f3f3; 
border-top:    3px solid rgba(255, 0, 0, 0.0); 
border-bottom:    3px solid rgba(255, 0, 0, 0.0); 
border-radius: 50%;
margin-top: -15px; 
margin-left: -15px; 
width:  30px;
height:  30px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#topleveltable {
}

#projects {
display: none;
}

.project {
display: block;
width: 100%;
}

.image {
display: inline-block;
border:0px solid #eaeaea;
width:  48%; 
margin-right: 1%; 
margin-bottom: 0.5em;
vertical-align: top; 
}

.wide {
width:   97%; 
}

.desctitle {
font-size:  100%;
/*font-weight: bold;*/
}

.descmedia {
font-style: italic;
}

.descyear{
font-style: italic;
}

.desctext{
padding-top: 20px; 
padding-bottom: 20px; 
}

hr {
margin-top: 25px; 
margin-bottom: 25px; 
}


