 <hr>
 <p>
Mike Tyka studied Biochemistry and Biotechnology at the University of Bristol. He obtained his PhD in Biophysics in 2007 and went on to work as a research fellow at the University of Washington to study the structure and dynamics of protein molecules. In particular, he has been interested in protein folding and has been writing computer simulation software to better understand this fascinating process. Mike joined Google in 2012 and worked on creating a neuron-level map of fly and mouse brain tissue using computer vision and machine learning.
 </p>

 <p>
Mike became involved in creating sculpture and art in 2009 when he helped design and construct <a href="http://www.miketyka.com/?p=groovikscube">Groovik&#39;s Cube</a>, a 35ft tall, functional, multi-player Rubik's cube installed in Reno, Seattle and New York. Since then his artistic work has focused both on traditional sculpture and modern technology, such as 3D printing and artificial neural networks.
His <a href="http://www.miketyka.com/?s=molecule">sculptures of protein molecules</a> use cast glass and bronze and are based on the exact molecular coordinates of each respective biomolecule. They explore the hidden beauty of these amazing nanomachines, and have been shown around the world from Seattle to Japan. </p>

 <p>
Mike also works with artificial neural networks as an artistic medium and tool. In 2015 created some of the first large-scale artworks using <a href="http://www.miketyka.com/?s=deepdream">Iterative DeepDream</a> and co-founded the <a href="http://g.co/ami">Artists and Machine Intelligence program at Google</a>. In 2017 he collaborated with Refik Anadol to create a pioneering immersive projection installation using Generative Adversarial Networks called <a href="http://www.miketyka.com/?p=salt">"Archive Dreaming"</a>. His latest generative series "Portraits of Imaginary People" has been shown at ARS Electronica in Linz, Christie's in New York and at the New Museum in Karuizawa (Japan). His kinetic, AI-driven sculpture "Us and Them" was featured at the 2018 Mediacity Biennale at the Seoul Museum of Art.
 </p>


 For more information or availablility of the pieces contact him at:
 <p>
 Email: mike.tyka@gmail.com
 </p>
 <div>
  <hr>
  <img src="pics/mike.jpg">
  <hr>
</div>
<p>
   <b>Art Exhibitions/Installations</b>
   <ul>
     <li><a href="https://www.bellevuearts.org/exhibitions/past/bam-biennial-2018">2018 BAM! Glasstastic, Bellevue Arts Museum, Seattle, "Harvesting the Sap"</a></li>
     <li><a href="http://mediacityseoul.kr/">2018 Mediacity Biennale, Seoul Museum of Art, Seoul, "Us and Them"</a></li>
     <li><a href="http://aloalo.co.jp/nakazawa/2017/aiaae.html">2017 OIST, Okinawa, "Art and AI Aethetics" exhibition, Three Deep Dreams</a></li>
     <li><a href="http://knam.jp/exhibitions/2017/%E3%82%A2%E3%83%BC%E3%83%88%E3%81%AF%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9%E2%85%A1%E3%80%80%EF%BC%8Dart-is-science%E2%85%A1-%EF%BC%8D/">2017 Karuizawa New Museum, Karuizawa, "Art is Science II"</a></li>
     <li><a href="https://www.aec.at/ai/en/portraits-of-imaginary-people/">2017 ARS Electronica, Portraits of Imaginary People</a></li>
     <li><a href="http://www.outofsight.space/">2017 OutOfSight, Group Show: Portraits of Imaginary People</a></li>
     <li><a href="http://saltonline.org/en/1627/archive-dreaming">2017 SALT Institute, Istanbul, Archive dreaming (with Refik Anadol)</a></li>

		 <li><a href="http://www.9e2seattle.org/">2016 9evenings2, Seattle, Group Show, Molecular sculpture</a></li>
     <li><a href="http://www.9e2seattle.org/">2016 9evenings2, Seattle, Live Performance "Butoh vs DeepDream"</a></li>
     <li><a href="https://grayarea.org/press/inside-googles-first-deepdream-art-show/">2015 Grey Area Art Foundation, San Francisco,  "The art of neural networks"</a></li>
     <li>2014-2016 Fred Hutch Cancer Institute. Semi-permanent installation "Savior" and "Portal"</li>
     <li><a href="https://lsc.org/news-and-social/news/the-original-grooviks-cube">2013 Liberty Science Center, New Jersey,  "Groovik's Cube III" </a></li>
     <li>2011 Pacific Science Center, Seattle,  "Groovik's Cube II" </li>
     <li>2009 Black Rock City, Nevada,  "Groovik's Cube" </li>
   </ul>

   <b>Invited Talks</b>
   <ul>
     <li><a href="http://aloalo.co.jp/nakazawa/2017/aiaae07_symposium.png">2017 OIST, Okohama, "Art and AI Aethetics" symposium</a></li>
     <li>2017 Tokyo, Digital Hollywood University</li>
     <li><a href="http://genekogan.com/alt-AI/">2016 Alt-Ai Conference, New York</a></li>
     <li><a href="http://dijitaldevrim.zorlupsm.com/digi-logue/">2016 Digi.Logue, Istanbul</a></li>
     <li><a href="https://design.google.com/span-2016-tokyo/">2016 Google SPAN Tokyo</a></li>
     <li><a href="https://magenta.tensorflow.org/welcome-to-magenta">2016 Magenta Conference</a></li>
     <li>2016 Google Cultural Institute Summit, Paris</li>
     <li><a href="https://research-142105.googleplex.com/static/index.html">2016 Research at Google conference</a></li>
     <li><a href="http://bcnm.berkeley.edu/2016/12/07/mike-tyka-atc-video-now-online">2016 UC Berkley Center for New Media</a></li>
     <li><a href="https://www.youtube.com/watch?v=0qVOUD76JOg">2015 TEDx Munich</a></li>
     <li><a href="">2012 Google IO, Invited speaker for Ignite talk.</a></li>
     <li><a href="">2011 SciFoo, Mountain View, Invited speaker</a></li>
     <li><a href="">2010 FooCamp, O'Reilly Media. Invited speaker for Ignite talk.</a></li>
     <li><a href="">2007 CCPB Biomolecular Simulation</a></li>
   </ul>
   <br>
