    <div id="header">
      <div id="leftheader">
        <a href="?"><img src="pics/miketyka.png" id="miketyka"></a>
      </div>
      <div id="rightheader">
       <a href="https://mtyka.github.io" target="_blank">Science</a> -
       <a href="https://www.twitter.com/mtyka" target="_blank">Twitter</a> -
       <a href="https://bsky.app/profile/mtyka.bsky.social" target="_blank">Bsky</a> -
       <a href="https://www.instagram.com/miketyka" target="_blank">Instagram</a> -
       <a href="https://www.github.com/mtyka" target="_blank">GitHub</a> -
       <a href="?p=bio">Bio</a> -
       <a href="?p=contact">Contact</a>
     </div>
   </div>
