<!DOCTYPE html><html>
<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=10.0, minimum-scale=1.0">
<script>
var PROJECT_URLS = {
  {% for project in site.projects %}{{ project.project_id | jsonify }}: {{ project.url | jsonify }}{% unless forloop.last %},{% endunless %}
  {% endfor %}
};
(function() {
  var m = window.location.search.match(/[?&]p=([^&]*)/);
  if (m) {
    var id = decodeURIComponent(m[1].replace(/\+/g, ' '));
    if (PROJECT_URLS[id]) { window.location.replace(PROJECT_URLS[id]); }
  }
})();
</script>
<script src="all.js"></script>
{% include analytics.html %}
{% include styles.html %}
</head>
<body>
  <div id="reel" class="reel" onload="interpretUrlState()">
    {% include header.html %}
    <div id="spinner">
    </div>
    <div id="toplevel">
      <hr>
      <div id="topleveltable">
      </div>
      <hr>
    </div>

    <div id="menu" class="hidden">
      <hr>
      <div id="menutable">
      </div>
      <hr>
    </div>

    <!-- ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= -->
    <div id="projects">

      {% for project in site.projects %}
      <div class="project {{ project.tags | join: ' ' }}" id="{{ project.project_id }}" data-url="{{ project.url }}">
        <img src="{{ project.cover_image }}" class="coverimg hidden">
        <div class="desctitle">{{ project.title }}</div>
        <div class="descmedia">{{ project.media }}</div>
        <div class="descyear">{{ project.year }}</div>
        {{ project.content }}
      </div>
      {% endfor %}

      <div class="project" id="bio">
        {% include bio.html %}
      </div>

      <div class="project" id="contact">
        {% include contact.html %}
      </div>

      {% for item in site.data.topmenu %}
      <div class="project topmenu" id="{{ item.id }}">
        <div class="crop">
          <img class="image coverimg" src="{{ item.cover_image }}">
        </div>
        <div class="descmedia">{{ item.label }}</div>
      </div>
      {% endfor %}

    </div>
    <!-- ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= ======= -->

    <div class="hidden">
      <div id="defaultbox" class="box">
        <div class="crop">
          <img class="coverimg" src="">
        </div>
      </div>
    </div>

  </div>
</body>
</html>
